# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/

# UV
uv.lock

# Models / data (large files)
models/*.pt
models/*.pth
models/*.onnx
/data/

# Results
results/*
!results/.gitkeep

runs/
*.pt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
